#logger, #geolocContainer {

    border:1px solid rgba(250,250,250,0.3);
    padding:5px;
    margin-top: -10px;
    background-color: rgba(50, 50, 50, 0.2);
    box-shadow:  2px 5px 5px rgba(200,200,200,0.3);
    display: none;
}
#logger {
    height: 120px;
    overflow-y: auto;
    max-height: 200px;
}
.container::before {
    background: url('img/white2.svg') ;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
    opacity: .05;
    z-index: -1;
    background-attachment: fixed;
    background-position: 5px 65px;
    background-repeat: no-repeat;
    background-size: 95% 50%;
}